*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* html,
body,
.App,
#root {
	height: 100%;
} */

.header {
	background-color: #ef5350;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-bottom: 10px solid black;
}

.logo {
	height: 100px;
}

.main {
	/* height: 100%; */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ddd;
}

.container {
	/* height: 100%; */
	width: 700px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2em;
}

.cell {
	height: 200px;
	width: 150px;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: transform 0.3s ease 0s;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.cell:hover {
	transform: scale(1.05);
}

.image {
	height: 120px;
}

p {
	font-weight: 500;
	font-size: 1.3em;
}
