*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	background-color: #ef5350;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-bottom: 10px solid black;
}

.logo {
	height: 100px;
}
