*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
.App,
#root {
	background-color: #ddd;
}

.header {
	background-color: #ef5350;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-bottom: 10px solid black;
}

.logo {
	height: 100px;
}

.main {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.container {
	width: 700px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2em;
	margin: 50px 0;
}

.cell {
	height: 200px;
	width: 150px;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: transform 0.3s ease 0s;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.cell:hover {
	transform: scale(1.05);
}

.image {
	height: 120px;
}

.cell p {
	font-weight: 500;
	font-size: 1.3em;
}

.instruction {
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	width: 180px;
	justify-content: start;
	align-items: flex-start;
	margin: 50px 0;
	gap: 5px;
	border: 1px solid black;
	padding: 5px;
}

.instruction p {
	border-top: 0.5px solid black;
	font-size: 1.1em;
}

.score {
	margin: 50px 0;
	width: 200px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.score div {
	padding: 10px;
	border-radius: 15px;
	font-size: 1.2em;
	font-weight: 600;
}
